.AppFooter {
  margin-block-start: auto;
}

.AppFooter__copyright {
  font-family: var(--f-body);
  font-style: italic;
  font-size: var(--s);
  text-align: center;
  color: var(--c-main-extra-light);
}

.AppFooter__copyright :link {
  color: var(--c-complementary);
}

.AppFooter__copyright :visited {
  color: var(--c-main-extra-light);
}

.AppFooter__copyright :hover,
.AppFooter__copyright :focus,
.AppFooter__copyright :active {
  text-decoration: none;
}
