.Crypto__name {
  font-family: var(--f-body);
  font-size: var(--s-m);
  text-align: start;
  color: var(--c-main-extra-light);
  padding: var(--s-xs) var(--s);
}

.Crypto__value {
  font-family: var(--f-body);
  font-size: var(--s-m);
  text-align: right;
  color: var(--c-main-extra-light);
  padding: var(--s-xs) var(--s);
}
