/*
  Josh Comeau CSS Reset + Mine
*/
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
html, body {height: 100%;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;min-height: 100%;}

* {scrollbar-color: var(--c-main-extra-light) var(--c-main-extra-dark);}
*::-webkit-scrollbar-thumb {background: var(--c-main-extra-light);}
*::-webkit-scrollbar-track {background: var(--c-main-extra-dark);}
* {scrollbar-width: thin;}
*::-webkit-scrollbar {width: var(--s-xxs);height: var(--s-xxs);}

/*
  Custom Properties
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');

:root {
  --f-body: 'Source Sans 3', sans-serif;
  --f-heading: 'Stick No Bills', sans-serif;
  --f-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  --c-main-extra-light: hsl(198, 39%, 75%);
  --c-main-light: hsl(198, 39%, 50%);
  --c-main: hsl(198, 39%, 28%);
  --c-main-dark: hsl(195, 35%, 19%);
  --c-main-extra-dark: hsl(198, 44%, 11%);
  --c-complementary: hsl(32, 94%, 48%);

  --s-xxs: .25rem;
  --s-xs: .5rem;
  --s-s: .75rem;
  --s: 1rem;
  --s-m: 1.25rem;
  --s-l: 2rem;
  --s-xl: 4rem;

  --outline-setup: solid .5rem;
  --transition-setup: .320s ease-in-out;
}
